---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */


/*! tomorrow night eighties; https://github.com/MozMorris/tomorrow-pygments */
.highlight,
.highlight pre,
.highlight table {
  background: #2d2d2d !important;
  color: #cccccc !important;
}
.highlight .hll {
  background-color: #515151 !important;
}
.highlight .c {
  color: #999999 !important;
} /* Comment */
.highlight .err {
  color: #f2777a !important;
} /* Error */
.highlight .k {
  color: #cc99cc !important;
} /* Keyword */
.highlight .l {
  color: #f99157 !important;
} /* Literal */
.highlight .n,
.highlight .h {
  color: #cccccc !important;
} /* Name */
.highlight .o {
  color: #66cccc !important;
} /* Operator */
.highlight .p {
  color: #cccccc !important;
} /* Punctuation */
.highlight .cm {
  color: #999999 !important;
} /* Comment.Multiline */
.highlight .cp {
  color: #999999 !important;
} /* Comment.Preproc */
.highlight .c1 {
  color: #999999 !important;
} /* Comment.Single */
.highlight .cs {
  color: #999999 !important;
} /* Comment.Special */
.highlight .gd {
  color: #f2777a !important;
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic !important;
} /* Generic.Emph */
.highlight .gh {
  color: #cccccc !important;
  font-weight: bold !important;
} /* Generic.Heading */
.highlight .gi {
  color: #99cc99 !important;
} /* Generic.Inserted */
.highlight .gp {
  color: #999999 !important;
  font-weight: bold !important;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold !important;
} /* Generic.Strong */
.highlight .gu {
  color: #66cccc !important;
  font-weight: bold !important;
} /* Generic.Subheading */
.highlight .kc {
  color: #cc99cc !important;
} /* Keyword.Constant */
.highlight .kd {
  color: #cc99cc !important;
} /* Keyword.Declaration */
.highlight .kn {
  color: #66cccc !important;
} /* Keyword.Namespace */
.highlight .kp {
  color: #cc99cc !important;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #cc99cc !important;
} /* Keyword.Reserved */
.highlight .kt {
  color: #ffcc66 !important;
} /* Keyword.Type */
.highlight .ld {
  color: #99cc99 !important;
} /* Literal.Date */
.highlight .m {
  color: #f99157 !important;
} /* Literal.Number */
.highlight .s {
  color: #99cc99 !important;
} /* Literal.String */
.highlight .na {
  color: #6699cc !important;
} /* Name.Attribute */
.highlight .nb {
  color: #cccccc !important;
} /* Name.Builtin */
.highlight .nc {
  color: #ffcc66 !important;
} /* Name.Class */
.highlight .no {
  color: #f2777a !important;
} /* Name.Constant */
.highlight .nd {
  color: #66cccc !important;
} /* Name.Decorator */
.highlight .ni {
  color: #cccccc !important;
} /* Name.Entity */
.highlight .ne {
  color: #f2777a !important;
} /* Name.Exception */
.highlight .nf {
  color: #6699cc !important;
} /* Name.Function */
.highlight .nl {
  color: #cccccc !important;
} /* Name.Label */
.highlight .nn {
  color: #ffcc66 !important;
} /* Name.Namespace */
.highlight .nx {
  color: #6699cc !important;
} /* Name.Other */
.highlight .py {
  color: #cccccc !important;
} /* Name.Property */
.highlight .nt {
  color: #66cccc !important;
} /* Name.Tag */
.highlight .nv {
  color: #f2777a !important;
} /* Name.Variable */
.highlight .ow {
  color: #66cccc !important;
} /* Operator.Word */
.highlight .w {
  color: #cccccc !important;
} /* Text.Whitespace */
.highlight .mf {
  color: #f99157 !important;
} /* Literal.Number.Float */
.highlight .mh {
  color: #f99157 !important;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #f99157 !important;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #f99157 !important;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #99cc99 !important;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #cccccc !important;
} /* Literal.String.Char */
.highlight .sd {
  color: #999999 !important;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #99cc99 !important;
} /* Literal.String.Double */
.highlight .se {
  color: #f99157 !important;
} /* Literal.String.Escape */
.highlight .sh {
  color: #99cc99 !important;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #f99157 !important;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #99cc99 !important;
} /* Literal.String.Other */
.highlight .sr {
  color: #99cc99 !important;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #99cc99 !important;
} /* Literal.String.Single */
.highlight .ss {
  color: #99cc99 !important;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #cccccc !important;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f2777a !important;
} /* Name.Variable.Class */
.highlight .vg {
  color: #f2777a !important;
} /* Name.Variable.Global */
.highlight .vi {
  color: #f2777a !important;
} /* Name.Variable.Instance */
.highlight .il {
  color: #f99157 !important;
} /* Literal.Number.Integer.Long */

#sidebar{
  border-right: 1px solid rgba(0,0,0,0.07);
  background: #ffffff;
}

.post-content a:not(.img-link):hover{
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

body{
  font-family: "PT Sans",sans-serif;
}

.post h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  // border-bottom: 1px solid #ededed;
}

.post-content{
  font-size: 0.92rem;
}

#post-wrapper h2{
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
#post-wrapper h3{
  font-size: 1.29rem;
}
#post-wrapper h4{
  font-size: 1.1rem;
  font-weight: 600;
}

hr{
  margin-top: 0px;
  border-top: 1px solid #0000000f
}

.post em{
  font-size: 0.85rem;
}

blockquote {
  border-left: 3.2px solid #848484;
  padding-left: 1rem;
  color: #000000;
}

#post-list .post-preview a:hover{
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

#post-list .post-preview h1{
  border-bottom: none;
}


@media all and (max-width: 576px)  {
  #post-wrapper h1{
    font-size: 2.2rem;
  }
}

.end-line{
  margin-top: 6rem;
}

.post-tail-wrapper{
  margin-top: 3rem;
}
.pt-5 {
  padding-top: 0rem!important;
}